
<div class = 'content'>
{{#each cards as |card|}}
  <!-- {{> partial}}
  Don't uncomment yet -->
<div class="card col-md-6 col-md-6 text-center">
<!-- <div class="card-columns column-count: 2"> -->
  <!-- <div class="col-sm-6"> -->
  <div class ="card text-white bg-primary">
    <div class="card-header heading-footer"></div>
    <div class="card-block text-center">
      <img class="panel-profile-img" src="https://i.imgur.com/a51ntEF.jpg">
    <!-- <h1 data-id="{{card.id}}"> <small>Name: {{card.name}}</small></h1> -->
    <!-- <div class ="card-body"> -->
    <section data-id="{{card.id}}">
      <p> id {{card.id}}</p>
      <p> name {{card.name}}</p>
      <p> description {{card.description}}</p>
      <div class ="card-footer">
        <button Type="button" id="delete" class="delete btn btn-danger">Delete Card</button>
        <!-- <button class="update-card btn btn-info" Type="button" id="update-card" data-toggle="collapse"
        data-target="#collapse{{card.id}}"
        aria-expanded="false"
        aria-controls="collapse{{card.id}}">Update Card</button>
        <div class="collapse landpage col-12 flex-row-reverse"
        id="collapse{{card.id}}".
        <form class="updatecardhandleba" id="{{card.id}}">
          <input type = "text" pattern="[a-zA-Z0-9-\s]+"
          name="update[name]" placeholder="{{card.name}}">
          <input type = "text" pattern="[a-zA-Z0-9-\s]+"
          name="update[description]" placeholder = "{{card.description}}">
          <br>
          <button type="submit" id="submit" class="submit btn btn-success">Submit</button>
        </form> -->
      </div>

    </section>
  </div>
</div>
</div>

{{/each}}
</div>
