
<!-- {{#each cards as |card|}}
  {{log card}} -->
  <!-- {{> partial}}
  Don't uncomment yet -->

  <div>
    <!-- <h1 data-id="{{card.id}}"> <small>Name: {{card.name}}</small></h1> -->
    <!-- <section data-id="{{card.id}}">
      <p> id {{card.id}}</p>
      <p> name {{card.name}}</p>
      <p> description {{card.description}}
      <br>
      <button type="submit" class="btn btn-danger">Delete</button>
    </section>
  </div>

{{/each}} -->


{{#each cards as |card|}}
  {{log card}}
  <!-- {{> partial}}
  Don't uncomment yet -->
<div class="card-columns column-count: 3">
  <!-- <div class="col-sm-6"> -->
  <div class ="card text-white bg-primary mb-3" style="width: 18rem;">
    <img class="card-img-overlay" src="https://imgur.com/a/sUCXMiV" alt="Card image overlay">
    <!-- <h1 data-id="{{card.id}}"> <small>Name: {{card.name}}</small></h1> -->
    <div class ="card-body">
    <section data-id="{{card.id}}">
      <p> id {{card.id}}</p>
      <p> name {{card.name}}</p>
      <p> description {{card.description}}
      <br>
      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </section>
  </div>
</div>
<!-- </div> -->
</div>

{{/each}}
